<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <hr />
    <span class="text-muted" style="font-size: 1.1em">
      &copy; <%= new Date().getFullYear() %> API Capstone • Made with
      <span class="footer-heart">&hearts;</span> by
      <b>Anthony Lariccia</b>
    </span>
  </div>
</footer>
