/* public/styles/suggest.css */

.suggestion-box {
  position: absolute;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 99;
  margin-top: 2px;
  min-width: 240px;
  max-height: 200px;
  overflow-y: auto;
}
.suggestion {
  padding: 0.5em 1em;
  cursor: pointer;
}
.suggestion:hover {
  background: #e3e3e3;
}
form {
  position: relative;
}
.suggestion-box:empty {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
